<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Holerite</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
#inicio-content {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1); 
}
</style>
<body >
    <br>
    <br>
    <br>
    <div id="inicio-content">
      <header>
            <h1>Holerite Software Empresarial <i class="fas fa-file-alt"></i> </h1>
        </header>
<section class="input-section">
    <div class="input-container">
        <label id="email1"   for="email">Digite o email do empregado:</label>
        <input type="email" id="email" name="email" placeholder="Email do empregado" required>
    </div>
    <div class="input-container">
          <label id="mes1" for="dropdown">Selecione o mês:</label>
        <select id="dropdown" name="dropdown">
            <option value="">Selecione uma opção</option>
            <option value="opcao1">Opção 1</option>
            <option value="opcao2">Opção 2</option>
            <option value="opcao3">Opção 3</option>
            <!-- Adicione mais opções conforme necessário -->
        </select>
    </div>
</section>


    <div id='pegatudo' style="position: relative; left: 7%;" >   
    <div class="absolute">FOLHA SOFTWARE EMPRESARIAL<br> RUA DA INTERFACE,90 CNPJ:12.345.678/0001-35</div>
    <div class="absolute2"><center>RECIBO DE PAGAMENTO MENSAL</center></div>
   <div class="absolute3"><center> ABRIL / 2023</center></div>
   <div class="absolute4">CODIGO:001 </div>
   <div class="absolute5">NOME: Larry Johnson</div>
   <div class="absolute6">CARGO: Financeiro</div>
   <div class="absolute7">Código Descricao Nome Salario  INSS  IRRF Descontos Faltas</div>
   <div class="absolute8">
   <div class="absolute12" id="codigo1"><center >123</center></div>
   <div class="absolute13" id="descricao1"><center>INSS</center></div>
   <div class="absolute14" id="nome1"> <center>XPTO</center></div>
   <div class="absolute15"><center id="vencimento1">10/10/2022</center></div>
   <div class="absolute16"><center>R$ 100,00</center> </div>
   <div class="absolute22"><center>R$ 100,00</center> </div>
   <div class="absolute23"><center>R$ 100,00</center> </div>
   <div class="absolute24"><center>R$ 100,00</center> </div>       
   <div class="absolute17" id="codigo2"><center>903</center> </div>  
   <div class="absolute18" id="descricao2"><center>Férias</center></div>  
   <div class="absolute19" id="nome2"><center>XPTO</center></div>  
   <div class="absolute20" id="vencimento2" ><center>10/10/2023</center></div>  
   <div class="absolute21"><center>R$ 200,00</center></div>
   <div class="absolute25"><center>R$ 100,00</center> </div>       
   <div class="absolute26"><center>R$ 100,00</center> </div>
   <div class="absolute27"><center>R$ 100,00</center> </div>
      


   </div>
    <div class="absolute9">TOTAL DE VENCIMENTOS <center> 2 </center></div>
    <div class="absolute10">TOTAL DE DESCONTOS  <center>R$ 300,00 </center></div>
    <div class="absolute11"> TOTAL LIQUID<center>R$ 700,00 </center></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
   
</body>
</html>