<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Folha Software</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <br>
    <br>
    <br>
    <div id="inicio-content" class="center-content">
         <header>   <h1>Notificações</h1> </header>
        <div id="">
            <table>
                <tr>
                    <th>Data <i class="fas fa-barcode"></i></th>
                    <th>Assunto</th>
                    <th>Situação</th>
                    <th>Situação</th>
                    <th>Checkbox</th>
                </tr>
                <tr>
                    <td>22/10/10 <i class="fas fa-id-card"></i></td>
                    <td>Venc. Férias</td>
                    <td>Pendente</td>
                    <td>Situação</td>
                    <td class="center-div"><input type="checkbox" class="message-checkbox"></td>
                </tr>
                <tr>
                    <td>22/10/20 <i class="fas fa-user"></i></td>
                    <td>Aviso de Ferias</td>
                    <td>Concluído</td>
                    <td>Situação</td>
                    <td class="center-div"><input type="checkbox" class="message-checkbox"></td>
                </tr>
            </table>
            <input id="status-message" type="text" value="Status: Você tem uma mensagem () Não lida" disabled>
        </div>
    <br>
    <br>
    <br>
    </div>
</body>
</html>
