<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Folha Software</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
        <br>
        <br>
        <br>
            <div id="inicio-content">
       <header> <h1 style="text-align: center;">Meus Dados <i class="fas fa-user"></i> </h1></header> 
        <br>
        <br>
            <table id="tabela-meusdados"> 
                <tr>
                    <th> Codigo <i class="fas fa-barcode"></i></th>
                    <th>001</th>
                </tr>
                <tr>
                    <td> Matricula <i class="fas fa-id-card"></i></td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td> Nome <i class="fas fa-user"></i></td>
                    <td>Larry Johnson</td>
                </tr>
                <tr>
                    <td> CPF <i class="fas fa-id-card"></i> </td>
                    <td>123.456.789-09</td>
                </tr>
                <tr>
                    <td> RG <i class="fas fa-address-card"></i></td>
                    <td>12.345.678-9</td>
                </tr>
                <tr>
                    <td> Email <i class="fas fa-envelope"></i></td>
                    <td>Larry.Johnson@gmail.com</td>
                </tr>
                <tr>
                    <td> Data de Nascimento <i class="fas fa-birthday-cake"></i></td>
                    <td>01/01/1990</td>
                </tr>
                <tr>
                    <td> Sexo <i class="fas fa-venus-mars"></i></td>
                    <td>Masculino</td>
                </tr>
                <tr>
                    <td> Estado Civil <i class="fas fa-ring"></i></td>
                    <td>Solteiro</td>
                </tr>
                <tr>
                    <td> Carteira de Trabalho <i class="fas fa-briefcase"></i> </td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td> NIS/PIS <i class="fas fa-list-ol"></i></td>
                    <td>123.45678.90-1</td>
                </tr>
                <tr>
                    <td> Carga Horária <i class="fas fa-clock"></i></td>
                    <td>40 horas/semana</td>
                </tr>
                <tr>
                    <td> Setor <i class="fas fa-building"></i></td>
                    <td>Financeiro</td>
                </tr>

                <tr>
                    <td>Salário <i class="fas fa-money-bill-wave"></i> </td>
                    <td>R$ 3.000,00</td>
                </tr>
                <tr>
                    <td>Dia de Pagamento <i class="fas fa-calendar-day"></i> </td>
                    <td>05</td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            
        </div>
</body>

</html>
