<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Folha Software</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <br>
    <br>
    <br>
    <div id="inicio-content">

        <header>
            <h1>Fale Com RH <i class="fas fa-comments"></i> </h1>
        </header>
        <label for="rh-nome">Nome do Funcionário:</label>
        <input type="text" id="rh-nome" name="nome" value="Laarry Johnson" disabled >

        <label for="rh-email">Email do Funcionário:</label>
        <input type="email" id="rh-email" name="email" value="Larry.Johnson@gmail.com" disabled>

        <label for="rh-assunto">Assunto:</label>
        <input type="text" id="rh-assunto" name="assunto" placeholder="Digite o assunto">

        <label for="rh-mensagem">Mensagem:</label>
        <textarea id="rh-mensagem" name="mensagem" rows="4" placeholder="Digite sua mensagem"></textarea>
        <br>
        <button type="submit" id="rh-enviar-btn" style="    position: relative; left: 46%;" onclick="falseSend()">
            <span>Enviar</span>
            <i id="rh-icon">📬</i>
        </button>
        <br>
        <br>
        <br>
    </div>
</body>

</html>
