<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
    <div id="inicio-content">
        <h2 class="mb-4 big-text">Bem-vindo, Larry Johnson!</h2>
        <p class="employee-message big-text">Você é um valioso Funcionário do FolhaSoft.</p>
        <img src="/imagens/folha.png" alt="Logo da FolhaSoft" class="company-logo"> 
    </div>
</body>
</html>
